@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(css_styles/header.css);
@import url(css_styles/content.css);
@import url(css_styles/sidebar.css);
@import url(css_styles/custom_propertis.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* 
layout
*/
.youtube{
 display: grid;
 grid-template-columns: 240px 1fr;
 grid-template-rows: 56px 1fr;
 grid-template-areas: 
 'header header'
 'sidebar container';
 height: 100vh;
}
.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* responsivo */





@media (max-width:1200px){
    .youtube{
        grid-template-columns: 70px 1fr;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .sidebar__text, .sidebar__item span{
        display: none;
    }
    .sidebar__item{
        padding: 0px 20px;

        align-content: center;
        justify-content: center;
    }
    .sidebar__items{
        padding:0;
        margin: 0;
        margin-left: 10px;
        
    }
    .sidebar__item i{
        margin: 0;
        padding-left:0 ;
        padding-right: 0;
        
    }
    .chips-warpper{
        max-width: calc(100vw - 70px);
    }
    /* .barra-busqueda{
        display: none;
    } */

}