
.youtube__content{
    grid-area: container;
    overflow-x: hidden;
    background-color: var(--fondo-contenido-galeria);

}
.chips-warpper{
    max-width: calc(100vw - 240px);
    overflow-x: scroll;
    display: flex;
    background-color: var(--fondo-contenido-galeria);
    padding: 0px 14px;
    border-top: var(--gris_bordes);
    
}
.chips-warpper::-webkit-scrollbar-thumb{
    background-color: var(--scroll_color);
}
.chips-warpper::-webkit-scrollbar{
    height: 6px;
}
.chips{
    margin: 6px 6px;
    padding: 6px 12px;
    background-color: var(--fondo-chips);
    color:var(--color_blanco);
    cursor: pointer;
    border-radius: 16px;
    white-space: nowrap;
    font-size: var(--letra-sidebar);
}
.content__gal-video{
    display: grid;
    gap: 18px;
    padding: 20px;
    overflow-y: scroll;
    height: calc(100vh - 106px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 5fr));
    grid-auto-rows: max-content;
    grid-auto-flow: dense;
}
.content__gal-video::-webkit-scrollbar-thumb{
    background-color: var(--scroll_color);
}
.content__gal-video::-webkit-scrollbar{
    height: 6px;
}
.video-contenido{
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    border-radius: 12px;
}
.video-contenido:hover{
    background-color: var(--fondo-chips);
    transition: 0.4s;
}
.video-box{
    position: relative;
    width: auto;
    height: 145px;
    display: block;

}
.video-box img.img-video{
    object-fit: cover;
    border-radius: 12px;
}
.video-detail{
    display: flex;
    color: var(--color_blanco);
    padding-top: 12px;
}
.chanel-logo{
    position: relative;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    min-width: 35px;
}
.title{

    font-size: var(--letra-sidebar);
}
.detail{
    margin-left: 12px;
}
.chanel-name{
    display: flex;
    font-size: 0.8rem;
    color: var(--texto-color-sidebar);

}
.views-oupload{
    display: flex;
    font-size: 0.8rem;
    color: var(--texto-color-sidebar);
    margin-top: 10px;
}
